{% extends "public/layout.html" %}

{% block body %}
    <table class="table table-bordered">
        <h4>组 {{ group_name }} 权限列表:</h4>
        <!--
        <caption>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="search_name" value="{{ search_name }}" class="form-control" placeholder="name">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </caption>
        -->
        <tr>
            <th>#</th>
            <th>app</th>
            <th>model</th>
            <th>codname</th>
            <th>name</th>
            <th>action</th>
        </tr>
        {% for p in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ p.content_type.app_label }}</td>
            <td>{{ p.content_type.model }}</td>
            <td>{{ p.codename }}</td>
            <td>{{ p.name }}</td>
            <td>
                <div class="btn-group">
                {% if perms.auth.delete_permission %}
                    <button type="button" class="btn btn-danger btn-sm delete_permission_from_group" data='{"permission_codename": "{{ p.codename }}", "group_id":"{{ group_id }}"}'>删除</button>
                {% else %}
                    <button type="button" class="disabled btn btn-danger btn-sm delete_permission_from_group" data='{"permission_codename": "{{ p.codename }}", "group_id":"{{ group_id }}"}'>删除</button>
                    
                {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="panel-default">
        <center>
            <ul class="pagination">
                <li><a href="{{ request.path }}?page=1{{ search_data }}">首页</a></li>
                {% if page_obj.has_previous %}
                    <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}{{ search_data }}">上一页</a></li>
                {% else %}
                    <li class="previous disabled"><a>上一页</a></li>
                {% endif %}
    
                {% for i in paginator.page_range %}
                    <li {% if page_obj.number == i %}class="active"{% endif %}><a href="{{ request.path }}?page={{ i }}{{ search_data }}">{{ i }}</a></li>
                {% endfor %}
    
                {% if page_obj.has_next %}
                    <li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}{{ search_data }}">下一页</a></li>
                {% else %}
                    <li class="previous disabled"><a>下一页</a></li>
                {% endif %}
                <li><a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}{{ search_data }}">末页</a></li>
            </ul>
        </center>
    </div>
{% endblock %}

{% block js %}
    <script>
    $(function () {
        $(".delete_permission_from_group").on('click', function () {
            var data = $.parseJSON($(this).attr("data"));
            var pcodename = data.permission_codename;
            var gid = data.group_id;
            var permission_group_url = "{% url 'modify_group_permission_list' %}";

            // console.log(data)
            $.ajax({
                url: permission_group_url,
                type:"delete",
                data:{"pcodename":pcodename, "gid":gid},
                success: function(res){
                    if (res.status != 0){
                        swal("操作失败", res.errmsg, "error")
                    }else{
                        window.location.reload();
                    }},
                    beforeSend: function (xhr, settings) {
                         var csrftoken = getCookie('csrftoken');
                         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                             xhr.setRequestHeader("X-CSRFToken", csrftoken)
                         }
                    }
            });

        });

    });

    </script>
{% endblock %}
