{% extends 'public/layout.html' %}

{% block body %}
<caption class="btn btn-primary">
    <a href="{% url 'permission_add' %}" class="btn btn-info">
        添加权限
    </a>
    <form class="form-inline" style="display: inline-block">
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="search_permission" value="{{ search_permission }}" class="form-control" >
            </div>
        </div>
      <button type="submit" class="btn btn-primary">搜索</button>
    </form>
</caption>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>app</th>
            <th>model</th>
            <th>codename</th>
            <th>name</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for permission_line in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ permission_line.content_type.app_label }}</td>
                <td>{{ permission_line.content_type.model }}</td>
                <td>{{ permission_line.codename }}</td>
                <td>{{ permission_line.name }}</td>
                <td>
                    <button class="btn btn-info btn-sm">修改</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="container">
    <nav aria-label="...">
        <ul class="pagination">
             <li class=""><a href="{% url 'permission_list' %}?page=1{{ search_data }}" aria-label="Previous"><span aria-hidden="true">first</span></a></li>

            {% if page_obj.has_previous %}
                <li class=""><a href="{% url 'permission_list' %}?page={{ page_obj.previous_page_number }}{{ search_data }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
                <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}

            {% for cpage in paginator.page_range %}
                {% if cpage == page_obj.number %}
                    <li class="active"><a href="{% url 'permission_list' %}?page={{ cpage }}{{ search_data }}">{{ cpage }}</a></li>
                {% else %}
                    <li class=""><a href="{% url 'permission_list' %}?page={{ cpage }}{{ search_data }}">{{ cpage }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class=""><a href="{% url 'permission_list' %}?page={{ page_obj.next_page_number }}{{ search_data }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
                <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}

            <li class=""><a href="{% url 'permission_list' %}?page={{ page_obj.paginator.num_pages }}{{ search_data }}" aria-label="Previous"><span aria-hidden="true">last</span></a></li>
        </ul>
    </nav>
</div>
{% endblock %}

